
	<h1>Stage 1: Unit Outcome Visioning</h1>
	<h2>Integrate significant concept, area of interaction and unit question</h2>

	<div style="float:left;width:40%;">
		<div style="margin:5px;background-color:yellow;width:100%;text-align:center;border:1px solid #000000">
			<h3>Area of Interaction</h3>
			(How will this area of interaction provide a focused context for this unit?)
		</div>
		<div style="height:100px;margin:5px;width:100%;border:1px solid #000000">
		<%= h @unit_planner.area_of_interaction.sort %>
	</div>
</div>

<div style="float:right;width:40%;">

	<div style="height:90px;margin:5px;background-color:yellow;width:100%;text-align:center;border:1px solid #000000">
		<h3>Significant Concept(s)</h3>
		Interdisiplinary
		Reflects the AOI
	</div>

	<div style="min-height:100px;margin:5px;width:100%;border:1px solid #000000">
	<%= h @unit_planner.significant_concept %>
</div>

</div>


<div class="" style="clear:both;margin-left:auto;margin-right:auto;width:40%;">
	
	<div style="height:10px"></div>
	
	<div style="text-align:center;height:90px;background-color:yellow;margin:5px;width:400px;border:1px solid #000000">
		<h3>Unit Question</h3>
		Interdisciplinary
		Reflects the AOI
		Leads to the Significant Concept
	</div>
	<div style="min-height:100px;margin:5px;width:400px;border:1px solid #000000">
	<%= h @unit_planner.unit_question %>
	</div>
	
	<div style="height:10px"></div>


	<div style="text-align:center;height:90px;background-color:yellow;margin:5px;width:400px;border:1px solid #000000">
		<h3>Subject Area Question(s) (opt.)</h3>
		Subject area translation of the Unit Question
	</div>
	<div style="min-height:100px;margin:5px;width:400px;border:1px solid #000000" >
	<%= @unit_planner.subject_area_question %>
	</div>
</div>


