<p>
  <b>Tag:</b>
  <%=h @standard_group.tag %>
</p>

<p>
  <b>Description:</b>
  <%=h @standard_group.description %>
</p>


<%= link_to 'Edit', edit_standard_group_path(@standard_group) %> |
<%= link_to 'Back', standard_groups_path %>