<h1>Editing learner_profile</h1>

<% form_for(@learner_profile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @learner_profile %> |
<%= link_to 'Back', learner_profiles_path %>