<h1>Listing learner_profiles</h1>

<table>
  <tr>
  </tr>

<% @learner_profiles.each do |learner_profile| %>
  <tr>
    <td><%= link_to 'Show', learner_profile %></td>
    <td><%= link_to 'Edit', edit_learner_profile_path(learner_profile) %></td>
    <td><%= link_to 'Destroy', learner_profile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New learner_profile', new_learner_profile_path %>