<h1>Listing criterions</h1>

<table>
  <tr>
  </tr>

<% @criterions.each do |criterion| %>
  <tr>
    <td><%= link_to 'Show', criterion %></td>
    <td><%= link_to 'Edit', edit_criterion_path(criterion) %></td>
    <td><%= link_to 'Destroy', criterion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New criterion', new_criterion_path %>