<p>
  <b>Name:</b>
  <%=h @course.name %>
</p>

<p>
  <b>Subject:</b>
  <%=link_to @course.subject.name, @course.subject %>
</p>

<p>
  <b>Standards:</b>
  Not done yet
</p>






<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', subject_path(@course.subject, :anchor=>dom_id(@course)) %>