<p>
  <b>Style:</b>
  <%=h @learning_style.style %>
</p>

<p>
  <b>Explanation:</b>
  <%=h @learning_style.explanation %>
</p>


<%= link_to 'Edit', edit_learning_style_path(@learning_style) %> |
<%= link_to 'Back', learning_styles_path %>