<p>
  <b>Unit planner:</b>
  <%=h @coverage.unit_planner_id %>
</p>

<p>
  <b>Standard:</b>
  <%=h @coverage.standard_id %>
</p>


<%= link_to 'Edit', edit_coverage_path(@coverage) %> |
<%= link_to 'Back', coverages_path %>