
<div style="clear:both"></div>
<div style="clear:both; margin:20px">
<%=render :partial=>'summative_task', :object=>@summative_task %>
<div>
<%= link_to 'Edit', edit_summative_task_path(@summative_task) %> |
<%= link_to 'Back', summative_tasks_path %>